/*Formatação geral do site*/
*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/*Formatação do cabeçalho*/
body {
	height: 100%;
	width: 100%;
	font-family: Arial, Verdana, Sans-serif;
}

body,html{
	height: 100%;
}

/*Formatação da tag header*/
.container {
	background-color: #CF0E0E;
	height: 80px;
	width: 250vh;
	position: fixed;
}	

/*Formatação da imagem da logo Sampa News*/
#logo-image img {
	display: flex;
	position: relative;
	text-align:center;	
	left: 90vh;
	width: 25vh;
	top: 10px;
	bottom: 10px;
}

/*Formatação da imagem do menu hambúrguer*/
#menu-button{
	height: 8vh;
	width: 8vh;
	bottom: 9.5vh;
	top: -6.9vh;
	left: 5vh;
	position: relative;
	cursor: pointer;
}

/*A partir daqui começa a Formatação do Menu*/
a{
	text-decoration: none;
	color: black;
}

/*Formatação da Lista Não Ordenada (ul) */
ul{
	list-style-type: none;
}

/*Formatação do Input checkbox*/
input[type="checkbox"]{
	display: none;
}

/*Formatação da tag nav*/
nav{
	background-color: pink;
	width: 50vh;
	height: 100vh;
}

/*Formatação da tag a (aqui foi definido que o display block irá ocupar toda a área da tag a)*/
a{
	display: block;
	padding: 20px 5px;

}

a:hover{
	background: ;
}
