/* ===============
   Estilos globais
   =============== */

* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/* ===============
   Formatação do Corpo
   =============== */

body {
	height: 100%;
	width: 100%;
	font-family: Arial, Verdana, Sans-serif;
	overflow-x: hidden;
}

/* ===============
   Formatação Geral(body e html)
   =============== */

html,body {
	height: 100%;
}

/* ===============
	Cabeçalho do site
   =============== */ 

#header-section {
	background-color: #cf0e0e;
	height: 80px;
	width: 250vh;
	position: absolute;
}	

/* ===============
	Logo Sampa News
   =============== */ 

#logo-image img {
	position: relative;	
	left: 93.5vh;
	top: 10px;
	z-index: 1;
	cursor: pointer;
	width: 25vh;
}

/* ===============
  	Menu Hambúrguer
   =============== */  
#menu-button {
	height: 8vh;
	width: 8vh;
	left: 5vh;
	bottom: 10vh;
	position: relative;
	cursor: pointer;
}

/* ===============
   A partir daqui começa
   a formatação do 
   funcionamento do menu
   =============== */
a {
	text-decoration: none;
	color: white;
}

/*Formatação da Lista Não Ordenada (ul) */
ul {
	list-style-type: none;
}

/*Formatação do Input checkbox*/
input[type="checkbox"] {
	display: none;
}

/*Formatação da tag nav*/
nav {
	width: 50vh;
	height: 100%;
	left: -50vh;
	top: 2vh;
	background-color: #cf0e0e;
	border-radius: 15px;
	position: absolute;
	transition: all .5s;
}

/*Formatação da tag a (aqui foi definido o padding e que o display block irá ocupar toda a área da tag a)*/
li a {
	display: block;
	padding: 20px 5px;
}

/*Formata a tag a quando o usuário passa o mouse sobre o link*/
li a:hover {
	background: #8D8DAA;
	border-radius: 4px;
}

/*Faz com que o Meu esteja dentro da */
label {
	padding: 15px;
	position: absolute;
	z-index: 1;
}

/*Formata os itens da lista (os itens Sampa News, Notícias)*/
ul {
	width: 100%;
	top: 70px;
	position: absolute;
}

/*Faz com que o Menu apareça quando clicado*/
input[type="checkbox"]:checked ~ nav {
	transform: translateX(50vh);
}
/*AQUI TERMINA A FORMATAÇÃO DO FUNCIONAMENTO DO MENU*/

/* ===============
   Div principal
   =============== */
.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	height: 500px;
	margin: 2.5em;
	margin-top: 2.5em;
}

/* ===============
   Notícia Primária
   =============== */
.noticia-principal{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-self: center;
	border: 2px solid rebeccapurple;
	height: 450px;
	width: 600px;
	margin: 0.5em;
}

.texto{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* ===============
   Notícia Secundária
   =============== */
.noticia-secundaria{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	border: 2px solid fuchsia;
	height: 450px;
	width: 600px;
	margin: 0.5em;
}
