/*Formatação geral do site*/
* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/*Formatação do cabeçalho*/
body {
	height: 100%;
	width: 100%;
	font-family: Arial, Verdana, Sans-serif;
}

html,body {
	height: 100%;
}
/*Formatação da tag header*/
.container {
	background-color: #CF0E0E;
	height: 80px;
	width: 250vh;
	position: fixed;
}	

/*Formatação da imagem da logo Sampa News*/
#logo-image img {
	display: flex;
	position: relative;
	text-align:center;	
	left: 90vh;
	width: 25vh;
	top: 10px;
	bottom: 10px;
	z-index: 1;
}

/*Formatação da imagem do menu hambúrguer*/
#menu-button {
	height: 8vh;
	width: 8vh;
	left: 5vh;
	bottom: 9vh;
	position: relative;
	cursor: pointer;

}

/*A partir daqui começa a Formatação do Menu*/
a {
	text-decoration: none;
	color: white;
}

/*Formatação da Lista Não Ordenada (ul) */
ul {
	list-style-type: none;
}

/*Formatação do Input checkbox*/
input[type="checkbox"] {
	display: none;
}

/*Formatação da tag nav*/
nav {
	width: 50vh;
	height: 100%;
	left: -50vh;
	top: 2vh;
	background-color: #CF0E0E; /*Exemplo de cor caso eu não deseje utilizar a cor do header: #E70000*/
	border-radius: 15px;
	position: absolute;
	transition: all .5s;
}

/*Formatação da tag a (aqui foi definido o padding e que o display block irá ocupar toda a área da tag a)*/
a {
	display: block;
	padding: 20px 5px;
}

/*Formata a tag a quando o usuário passa o mouse sobre o link*/
a:hover {
	background: #8D8DAA;
	border-radius: 4px;
}

/*Faz com que o Meu esteja dentro da */
label {
	padding: 15px;
	position: absolute;
	z-index: 1;
}

/*Formata os itens da lista (os itens Sampa News, Notícias)*/
ul {
	width: 100%;
	top: 70px;
	position: absolute;
}

/*Faz com que o Menu apareça quando clicado*/
input[type="checkbox"]:checked ~ nav {
	transform: translateX(50vh);
}